
.talent-profile-page {
  overflow-x: hidden; 
}
.profile {
  display: flex;
  gap: 50px;
  width: 110vw; /* Use viewport width instead of vh */
  margin-left: 20px;
}

.profile-outer-container {
  /* width: 170%; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.profile-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.profilebanner {
  border-radius: 10px 10px 0px 0px;
  height: 150px;
  width: auto; 
}

.profile-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-list {
  border-radius: 30px;
  background-color: rgba(255, 166, 0, 0.669);
  color: rgba(0, 0, 0, 0.781);
  font-weight: bold;
  padding: 3px 10px;
}

.profileavatar {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 3%;
  top: 40%;
  border-radius: 50%;
}

.profile-data {
  margin-top: 70px;
  width: 100%;
}

.profile-name {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.profile-role {
  font-size: medium;
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-data .msgbtn {
  height: 6vh;
  padding: 6px 10px 10px 10px !important;
  font-weight: 500;
  font-size: medium;
}

.profilebtn {
  display: inline-flex;
  align-items: center;
  background-color: rgba(216, 154, 97, 0.096);
  color: darkorange;
  border: 1px solid rgba(72, 57, 29, 0.153);
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  margin: 20px;
}

/* Media Query for responsiveness on smaller screens */
@media (max-width: 1199px) {
  .profile {
      flex-direction: column;
      gap: 30px;
      width: 100vw;
      margin-left: 20px; 
  }
  .profile-outer-container {
      width: 100%; /* Allow outer container to take full width */
      margin-left: auto;
      margin-right: auto;
  }
  .profilebanner {
      width: 100%; /* Banner should take full width on smaller screens */
  }
  .profileavatar {
      left: 10%;
      top: 40%;
      transform: translateX(-50%);
      width: 20vh;
      height: 20vh;
  }
  .profile-name {
      font-size: 1.5rem;
  }
  .profile-role {
      font-size: 1rem;
  }
  .profile-data .msgbtn {
      font-size: 0.875rem;
      padding: 4px 10px;
  }
}

/* Media Query for smaller devices (max-width: 767px) */
@media (max-width: 767px) {
 
  .profile {
      gap: 10px;
      margin-left: 10px;
      width: 92vw;
  }
  .profilebanner {
      height: 15vh;
      width: 100%;
  }
  .profileavatar {
      width: 20vh;
      height: 20vh;
      left: 15%;
      top: 25%;
      transform: translateX(-50%);
  }
  .profile-name {
      font-size: 1.2rem;
  }
  .profile-role {
      font-size: 0.875rem;
  }
  .profile-data .msgbtn {
      font-size: 0.875rem;
      padding: 4px 10px;
  }
}
