.ResumeImage{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.outer-container-image{
    border-radius: 70px;
    padding: 13px;
    background-color: orange;
}
.working{
    display: flex !important;
    margin:0px 50px -50px 50px ;
}
.working-fields{
    display: flex;
    margin-bottom: 20px;
    
}
.working-overlay-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 70%;
    transform: translateY(-330%);
    background: rgba(255, 255, 255, 0.231);
    color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(79, 58, 44, 0.619);
}
@media screen and (max-width: 1024px) {
    .working {
      flex-direction:column; 
      align-items: center;
    }
}